body {
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 80%;
    height: 100vh; /* 100% of viewport height*/
    margin: 0;
}

header, nav, article, footer{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

#upper{
    display:flex;
    flex-direction: row;
}

#logo{
    background-color: aqua;
    padding: 20px;

}
header {
    background-color: red;
    flex: auto;
}

main {
    display: flex;
    height: 100%;
    flex-direction: row;
}

nav {
    background-color: green;
}
article {
    background-color: purple;
    flex: 1 1 12em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
footer {
    background-color: orange;
}