td {
    width: 25px;
    height: 25px;
    margin: 0px;
    padding: 0px;
}

td.zero {
    background-image: url("images/0.png");
}

td.one {
    background-image: url("images/1.png");
}

td.two {
    background-image: url("images/2.png");
}

td.three {
    background-image: url("images/3.png");
}

td.four {
    background-image: url("images/4.png");
}

td.five {
    background-image: url("images/5.png");
}

td.six {
    background-image: url("images/6.png");
}

td.seven {
    background-image: url("images/7.png");
}

td.eight {
    background-image: url("images/8.png");
}

td.bomb {
    background-image: url("images/bomb.png");
}

td.boom {
    background-image: url("images/boom.png");
}

td.facingDown {
    background-image: url("images/facingDown.png");
}

td.flagged {
    background-image: url("images/flagged.png");
}
