@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	}

body {
	background-color: white;
	margin: 0;
	padding: 0;
	display: flex;
	}
.page-wrapper
{
	display: flex;
	flex-flow: row wrap;
	padding: 0;
	margin: 0;
}

.intro
{
	width: 100%;
}

.intro header
{
	background-color: cornflowerblue;
	padding-left: 20vw;
	padding-right: 20vw;
	padding-top: 1px;
	padding-bottom: 5px;
}
header
{
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}
header h1
{
	font-size: 50px;
	text-align: left;
}
header h2
{
	font-size: 30px;
	text-align: right;
}

a, a:visited
{
	color: orangered;
	text-decoration: none;
}

a:hover
{
	background: #E0E0E0;

}


.summary
{
	border-radius: 25px;
	background: #F0F0F0;
	background-size: auto;
	margin-left: 20vw;
	margin-right: 20vw;
	padding-left: 25px;
	padding-right: 25px;
}

.preamble
{
	border-radius: 25px;
	background: #F0F0F0;
	margin-left: 20vw;
	margin-right: 20vw;
	padding-left: 25px;
	padding-right: 25px;
}

/*Main*/

.main
{
	margin-left: 20vw;
	/*margin-right: 20vw;*/
	flex: 3 1;
}

.main div
{
	border-radius: 25px;
	background: #F0F0F0;
	padding-left: 25px;
	padding-right: 25px;
}

/*Footer*/

footer
{
	background-color: cornflowerblue;
	text-align: center;
	border-radius: 25px;
	font-size: large;
	font-family: 'Montserrat', sans-serif;
}

footer a, footer a:visited
{
	color: white;
}

/*Aside*/

aside
{
	flex: 1 3;
}

aside .wrapper
{
	background-color: cornflowerblue;
	display: flex;
	flex-direction: column;
	border-radius: 25px;
}

.wrapper h3
{
	display: none;
}
.wrapper ul
{
	font-family: 'Montserrat', sans-serif;
	list-style: none;
	padding-right: 40px;
}

.wrapper li:first-child
{
	border-top: none;
}

.wrapper li:last-child
{
	border-bottom: none;
}

.wrapper li
{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid;
	border-bottom-width: thin;
	text-decoration: none;
	color: #F0F0F0;
	font-size: small;
}

.design-selection li a:first-child:after
{
	content: "\A";
	white-space: pre;
}

.design-selection li a.design-name
{
	text-decoration: none;
	font-size: large;
	color: white;
}

.design-selection li a.design-name:hover
{
	text-decoration: none;
	font-size: large;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	background:none;
}

.design-selection li a.designer-name {
	text-decoration: none;
	font-size: medium;
	color: white;
	background:none;

}

.design-selection li a.designer-name:hover {
	text-decoration: none;
	font-size: medium;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.zen-resources li a
{
	text-decoration: none;
	font-size: large;
	color: white;
}

.zen-resources li a {
	text-decoration: none;
	font-size: medium;
	color: white;
	background:none;

}

.zen-resources li a:hover {
	text-decoration: none;
	font-size: medium;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}


.design-archives li:first-child
{
	border-bottom: none;
}

.design-archives ul
{
	display: flex;
	flex-direction: column;
}
.design-archives ul li a {
	color: white;
	float: left;
	text-decoration: none;
	transition: background-color 0.3s;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 25px;
	font-size: 18px;
}

.design-archives ul li a:hover {background-color: #E0E0E0; 	text-shadow: 2px 2px 4px #000000;
}




