<math xmlns='http://www.w3.org/1998/Math/MathML'>
  <mo>"&amp;"mu;</mo>
  <mo>(</mo>
  <mo>[</mo>
  <mo>-</mo>
  <mn>2</mn>
  <mo>/</mo>
  <mi>u</mi>
  <mo>,</mo>
  <mn>2</mn>
  <mo>/</mo>
  <mi>u</mi>
  <mo>]</mo>
  <mo>)</mo>

  <mo>"&amp;"ge;</mo>

  <mn>1</mn>
  <mo>-</mo>

  <mfrac>
    <mn>1</mn>
    <mi>u</mi>
  </mfrac>

  <munderover>
    <mo>"&amp;"int;</mo>
    <mrow>
        <mo>-</mo>
        <mi>u</mi>
    </mrow>
    <mi>u</mi>
  </munderover>


  <mo>(</mo>
  <mn>1</mn>
  <mo>-</mo>
  <mo>&#x003C6;</mo>
  <mo>(</mo> 
  <mi>s</mi>
  <mo>)</mo>
  <mo>)</mo>
  <mi>d</mi>
  <mi>s</mi>



 </math>
