body { font:16px Calibri;}
table { border-collapse:separate; border-top: 3px solid grey; }
td, th {
    margin:0;
    border:3px solid grey;
    border-top-width:0px;
    white-space:nowrap;
}
div {
    width: 600px;
    overflow-x:scroll;
    margin-left:5em;
    overflow-y:visible;
    padding-bottom:1px;
}
td. {
    position:absolute;
    width:5em;
    left:0;
    top:auto;
    border-right: 0px none black;
    border-top-width:3px; /*only relevant for first row*/
    margin-top:-3px; /*compensate for top border*/
}
.headcol:before {content: 'Row ';}
.long { background:yellow; letter-spacing:1em; }