.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}

img
{
    width: 300px;
    height: 200px;
}

.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-effect img {
    transition: all 0.2s linear;
}
.view-effect .mask {
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.view-effect h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-effect p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-effect a.info{
    opacity: 0;
    transition: all 0.2s;

}

.view-effect:hover img {
    filter: blur(5px)
}

.view-effect:hover .mask {
    opacity: 1;
}
.view-effect:hover h2,
.view-effect:hover p,
.view-effect:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-effect:hover p {
    transition-delay: 0.1s;
}
.view-effect:hover a.info {
    transition-delay: 0.2s;
}